.backG {
    /* background: linear-gradient(90deg, #00c4cc, #5a32fa, #7d2ae8); */
    padding-bottom: 64px;
    padding-top: 64px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}


#Logo {
    margin-top: 50px;
}
.outerBox {
    background: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 65%;
    padding: 10px;
    margin-right: 5px;
    border-style: none;
    
}


button {
    border: none;
    outline: none;
    padding: 5px 16px;
    background-color: #000000;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight:900
}
button:hover {
    background-color: #d42222;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: large;
}
li.completed {
    text-decoration: line-through;
    color: #f80b0b;
}