.backG {
    background: linear-gradient(90deg, #00c4cc, #5a32fa, #7d2ae8);
    padding-bottom: 64px;
    padding-top: 64px;
}

.outerBox {
    background: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#Logo {
    margin-top: 50px;
}

#btn {
    border: none;
    outline: none;
    padding: 16px 20px;
    background-color: #000000;
    border-radius: 50%;
    color: aliceblue;
    font-size: px;
}